body{
    margin: 0;
    padding: 0;
    background: url(background.jpg);
    background-position: center;
    background-size: 1300px 1150px;
    background-repeat: no-repeat; 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; 
    color: black;  
}
.signbox{
    width: 340px;
    height: 470px;
    background-color: transparent;
    top: 56%;
    left:50%;
    position: absolute;
    box-sizing: border-box;
    border-radius: 3%;
    transform: translate(-50%,-50%);
    padding: 20px;
    border: 2px solid gray;
    backdrop-filter: blur(100px);

}
.logo
{
    height: 100px;
    width: 100px;
    position: absolute;
    top: -50px;
    left: calc(37%);
    background-color: rgb(6, 6, 6);
    border-radius: 50%;
}
h1{
    margin: 0px;
    padding: 40px 0px 0px ;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    color: #ffffff;

}
.signbox p{
    font-weight: bold;
    margin: 0px;
    padding: 10px;
    color: #fff;

}
.signbox input{
    width: 98%;
    margin-bottom: 20px;
}
.signbox input[type="email"], input[type="password"]
{
border: none;
background: transparent;
border-bottom: 1px solid #fff;
outline: none;
height: 30px;
}
.signbox input[type="submit"]
{
    height: 40px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 17px;
}
.signbox input[type="submit"]:hover{
    background-color: rgb(173, 182, 190);
    cursor: pointer;
}
.google{
    height: 60px;
    width: 60px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 50px;
}
.github{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    float: right;
    margin-right: 50px;

}
.google:hover,.github:hover{
    cursor: pointer;
    height: 65px;
    width: 65px;
}
h5 { 
    display: flex;
    margin-top: -10px;
    flex-direction: row; 
    color: #fff;
    text-align: center;
    padding: 0px;
    

} 
h5:before, h5:after 
{ 
            content: ""; 
            flex: 1 1; 
            border-bottom: 1px solid #ffffff; 
            margin: auto; 
        } 